* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #a1e3f9;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;

  & .card {
    max-width: 400px;
    height: 600px;
    margin: 20px;

    background-color: #3674b5;
    border-radius: 7px;

    box-shadow: rgba(0, 6, 85, 0.726) 0px 1px 1px 0px inset,
      rgba(0, 17, 94, 0.527) 0px 50px 100px -20px,
      rgba(1, 21, 90, 0.671) 0px 30px 60px -30px;

    & form {
      header {
        margin-top: 60px;
      }

      height: 100%;

      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 60px;

      text-align: center;

      .form {
        display: flex;
        flex-direction: column;

        width: 70%;
        gap: 30px;

        input {
          padding: 12px;
          border: none;
          border-radius: 12px;
        }
      }

      .btnSign {
        button {
          padding: 12px;
          border: none;
          border-radius: 12px;

          font-weight: bold;
        }
      }
    }
  }
}
